<h3>
    Flot Chart
</h3>
<div ng-controller="ChartController" class="container-fluid">
    <!-- START row-->
    <div class="row">
        <div class="col-lg-6">
            <div id="panelChart2" class="panel panel-default">
                <div class="panel-heading">
                    <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                    <div class="panel-title">Bar</div>
                </div>
                <div collapse="panelChart2" class="panel-wrapper">
                    <div class="panel-body">
                        <flot dataset="barData" options="barOptions" height="300px"></flot>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="panelChart4" class="panel panel-default">
                <div class="panel-heading">
                    <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                    <div class="panel-title">Line</div>
                </div>
                <div collapse="panelChart4" class="panel-wrapper">
                    <div class="panel-body">
                        <flot dataset="lineData" options="lineOptions" height="300px"></flot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>