<h3>
    Standard Form
    <small>Add Promo Code</small>
</h3>
<div class="row" ng-controller="FormController">
    <div class="col-lg-6">
        <form method="post" validate-form="" novalidate="" ng-submit="addPromoCode()" id="add-promo">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Add Promo Code</div>
                </div>
                <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Promo Code</label>
                        <input type="text" name="promo_code" required="required" class="form-control" ng-model="promo.promo_code"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <input type="text" name="start_date" required="required" class="form-control" ng-model="promo.start_date"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <input type="text" name="end_date" required="required" class="form-control" ng-model="promo.end_date"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Number of Coupons</label>
                        <input type="text" name="num_coupons" required="required" class="form-control" ng-model="promo.num_coupons"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Validity Window</label>
                        <input type="text" name="validity_window" required="required" class="form-control" ng-model="promo.validity_window"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Max Number</label>
                        <input type="text" name="max_number" required="required" class="form-control" ng-model="promo.max_number"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <input type="text" name="type" required="required" class="form-control" ng-model="promo.type"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input type="text" name="description" required="required" class="form-control" ng-model="promo.description"/>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Add Promo</button>
                </div>
            </div>
            <!-- END panel-->
        </form>
    </div>
</div>