<div ng-controller="movieController" class="container-fluid">

    <div class="container-fluid"
         style="text-align: center;
             margin-right: -11.3% !important;
             margin-left: -11.3% !important;
             margin-top: -17px !important;
             background:url('{{cover}}');
             background-size: contain !important;
             background-repeat: no-repeat !important;">
        <div class="row" style="padding-top: 20%" >
            <div class="col-lg-12 col-md-12 ">
                <span class="movieName">{{movie.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="movieName" style="font-size: 30px">({{movie.date_of_release | date :'yyyy'}})</span>
            </div>
            <div class="col-lg-12 col-md-12 " style="padding-top: 10px" >
                <span class="movieName" style="font-size: 35px">{{movie.tagline | uppercase}}!</span>
            </div>
        </div>
        <div class="container" style="
        background-color: #21262E;
        border: solid #dbdbdb 5px;
        border-radius: 1%;
        padding: 25px">

            <div class="row">
                <div class="col-lg-4 col-md-4" style="text-align: center !important;" >
                    <img src="{{poster}}" class="poster thumbnail" style="max-width: 240px;max-height: 360px;height: 360px;width: 240px" >
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><strong>User Rating:</strong> {{movie.rating | number : 1}}/5 <br/>
                        <span style="color: yellow" >
                        <span ng-repeat="a in range(movie.full) track by $index"><i class="fa fa-star">&nbsp;</i></span>
                        <span ng-repeat="a in range(movie.half) track by $index"><i class="fa fa-star-half-full">&nbsp;</i></span>
                        <span ng-repeat="a in range(movie.empty) track by $index"><i class="fa fa-star-o">&nbsp;</i></span>
                        </span>
                    </h3>
                    <h4><strong>Reviews Counted :</strong> {{movie.no_of_reviews}}</h4>

                    <h4><strong>Box Office :</strong> {{movie.box_office | currency}}</h4>
                    <h4><strong>Budget :</strong> {{movie.budget | currency}}</h4>
                    <h4><strong>Country :</strong> {{movie.country}}</h4>
                    <h4><strong>Directed By :</strong> {{movie.director}}</h4>
                    <h4><strong>Popularity</strong> <em class="fa fa-line-chart"></em></h4>
                </div>
                <div class="col-lg-4 col-md-4" ng-if="movie.id == 9" >
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/ThePeanutsMovie" data-widget-id="668634944680296449">#ThePeanutsMovie Tweets</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="col-lg-4 col-md-4" ng-if="movie.id == 6" >
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%23spectre%20%23daniel" data-widget-id="668625797293322240">Tweets about #spectre #daniel</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="col-lg-4 col-md-4" ng-if="movie.id == 3" >
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/baahubali" data-widget-id="668642718948569088">#baahubali Tweets</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>

            <div class="row" >
                <div class="col-lg-8 col-md-8" style="padding-top: 5%" >
                    <span style="width: 70%;color: #b6c5da;font-size: 20px">{{movie.description}}..</span>
                </div>
                <div class="col-lg-4 col-md-4" style="padding-top: 5%" >
                    <h4><strong>Directed By:</strong> {{movie.director}}</h4>
                    <h4><strong>Written By:</strong> {{movie.writer}}</h4>
                    <hr style="text-align: center;width: 80%;color: #b6c5da;background-color: #b6c5da" >
                    <h4><strong>Genre:</strong> {{movie.genre | space}}</h4>
                    <h4><strong>Language:</strong> {{movie.language}}</h4>
                    <h4><strong>Run Time:</strong> {{movie.runtime}} minutes</h4>
                </div>
            </div>
        </div>

        <hr>
        <div class="container">
            <h2>Cast & Crew</h2>
            <div class="row">

                <div ng-repeat="cast in movieCast | limitTo : 6" class="span2" class="col-lg-2 col-md-2" >
                    <img src="{{cast.image_link}}" style="width: 100px;height: 120px" class="thumbnail" >
                    <a ui-sref="app.actors({actor_id:{{cast.actor_id}}})" style="text-decoration: none" ><h4>{{cast.actor_name}}</h4></a>
                    <h4><small>Role: </small>{{cast.role}}</h4>
                    <div ng-if="cast.appears_as"><small>Appears as: </small>{{cast.appears_as}}</div>
                </div>

            </div>
        </div>
        <hr>
        <div class="container">
            <h2>Photos</h2>
            <div class="row">
                <div ng-repeat="photo in moviePhotos | limitTo : 5" class="col-lg-2 col-md-2"  >
                    <img src="{{photo.photo}}" style="width: 180px;height: 180px" class="thumbnail" >
                </div>
            </div>
        </div>
        <hr>
        <!--<div class="container">
            <h2>Videos</h2>
            <div class="row">

                <div ng-repeat="video in movieVideos" class="span2" >
                    <img ng-src="app/img/actor.jpg" style="width: 160px;height: 180px" class="thumbnail" >
                </div>

            </div>
        </div><hr>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h2>Admin Verfied Tweets</h2>
                    <scrollable height="280" class="list-group">
                        <span href="#" class="list-group-item" ng-repeat="tweet in movieTweets" >
                            <div class="media-box">
                                <div class="pull-left">
                                    <img src="{{tweet.profile_image_url}}" alt="Image" class="media-box-object img-circle thumb32" />
                                </div>
                                <div class="media-box-body clearfix">
                                    <small class="pull-right">{{tweet.created_at | date}}</small>
                                    <strong class="media-box-heading text-primary">
                                        <span class="text-left"></span>{{tweet.name}}</strong>
                                    <p class="mb-sm">
                                        <small>{{tweet.text}}</small>
                                    </p>
                                </div>
                            </div>
                        </span>
                    </scrollable>
                </div>
                <div class="col-lg-8 col-md-8">
                    <h2>Reviews</h2>
                    <div class="row" style="text-align: left" >
                        <div class="col-lg-12" >

                            <div class="col-lg-12" ng-if="Guest" style="font-weight: bolder;color: #ffffff;font-size: large;">
                                You need to Log In to write a Review.
                            </div>
                            <div class="col-lg-12" ng-if="!Guest" >
                                <div class="col-lg-9">
                                    <h4 style="color: #d9534f" >@ {{newReview.user_name}} </h4>
                                <span style="font-size: 14px;font-style: normal;padding-left: 30px" >
                                    <textarea class="form-control has-feedback"
                                              ng-model="newReview.description"
                                              rows="4" cols="100"
                                              placeholder="Add/Edit your review here (min 40 characters)"
                                              style="resize: vertical">
                                    </textarea>
                                </span>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-md-4" style="padding-top: 7%">
                                      <span>
                                          <input
                                                  class="form-control has-feedback"
                                                  type="number"
                                                  ng-model="newReview.rating"
                                                  placeholder="Rating"
                                                  min="1" max="10"
                                                  style="border: solid #dcf 2px;">
                                      </span>
                                    <span class="btn btn-block mt-lg bg-gray-dark" style="border: solid #dcf 2px" ng-click="createReview()" >
                                        Add/Edit Review
                                    </span>
                                    <hr style="text-align: center;width: 80%;color: #b6c5da;background-color: #b6c5da" >
                                </div>
                                <div class="col-lg-12 pull-right" style="padding-top: 7px;font-size: large;padding-left: 50%;color: yellow" >
                                    <i ng-if="error" class="glyphicon-alert" ></i>&nbsp;{{error}}
                                </div>
                            </div>
                            <div class="col-lg-12" ng-repeat="review in movieReviews| orderBy:'-created_at':reverse">
                                <hr>
                                <div class="col-lg-9">
                                    <h3 ng-if="newReview.user_id != review.user_id" style="color: #27c24c" >@ {{review.name_of_user}} <span style="color:yellow" >({{review.rating}}/10) <span style="color:white" ><em class="icon-arrow-up"></em></span> </span> </h3>
                                    <h3 ng-if="newReview.user_id == review.user_id" style="color: #d9534f" >@ {{review.name_of_user}} <span style="color:yellow" >({{review.rating}}/10) <span style="color:white" ><em class="icon-arrow-up"></em></span> </span> </h3>
                                    <span style="font-size: 16px;font-style: normal;padding-left: 40px;color: #dbdbdb" >{{review.description}}</span><br/>
            <span class="text-muted pull-right" >
                <b>{{ review.created | date }}&nbsp;&nbsp;<a ui-sref="app.review-analysis({review_id : {{review.id}}})"><span style="color: yellowgreen"><em class="fa fa-bar-chart"></em></span></a></b>
            </span>
                                </div>
                                <div class="col-sm-3 col-xs-6 text-center" style="background: white;text-align: center;padding-right: 0%;padding-top: 2%" >
                                    <canvas ng-if="review.positivity > 0" classyloader="" data-height="150px" data-diameter="60" data-font-size="25px" data-percentage="{{review.positivity}}" data-speed="75" data-line-color="#27c24c" data-remaining-line-color="#edf2f6" data-line-width="5"></canvas>
                                    <canvas ng-if="review.positivity <= 0" classyloader="" data-height="150px" data-diameter="60" data-font-size="25px" data-percentage="{{-1 * review.positivity}}" data-speed="75" data-line-color="#d9534f" data-remaining-line-color="#edf2f6" data-line-width="5"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>