/* Empty. Add your own CSS if you like */
.menuContent{
	  background:#484848;
    background-attachment:fixed;
    background-position: center;
}

.menuItem{
	background: transparent;
  border-color: #484848;
}

.sidemenu-list .item-complex .item-content { 
  background: transparent;
  color: white;
  border-color: #484848;
}

.hrefButton{
  background: transparent;
  color: white;
  border-color: #484848;
}

.scroll-bg {
  background: url('http://ioniconf.com/img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.mainMenuImage{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.headerItem{
  padding-top: 3%;
  background: #303030  ;
}

.menuText{
  margin-left: 5%;
  font-size: 120%
}

.menuHeaderText{
  color:#FFF;
}

.menuHeaderTextSmall{
  color:#FFF;
}

.menuTextSmall{
  margin-left: 7%;
  font-size: 120%
}

.menuTextSmaller{
  margin-left: 9%;
  font-size: 120%
}

.menuItem.menuIcon.ion-android-home{
  font-size: 120%;
}

.reviewText{
  padding-top : 3%;
  padding-bottom: 1%;
  padding-left: 3%;
}

.item-complex .item-content{
  padding-right: 17px;
}

#profile-bg {
        position: fixed;
        left: 0;
        top: 44px;
        width: 100%;
        height: 200px;

        background-size: 100%;
        background-position: 50% 20%;

        text-align: center;
      }

      #content {
        position: relative;
        margin-top: 150px;
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

      #profile-info {
        position: absolute;
        top: -140px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }
      #profile-name {
        color: #444;
        font-size: 26px;
      }
      #profile-description {
        font-size: 15px;
        color: #888;
      }
      #profile-description a {
        color: #888;
      }

      #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 200px;
        height: 200px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

      .list-item-content {
        padding: 5px;
      }

      .list-item {
        color: #666666;
      }

      .post {
        color: #444;
      }

      .post-time {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 11px;
        color: #888;
      }

      .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
      .post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
      }
      
      #profile-description-new {
        font-size: 15px;
        color: #888;
        padding-left: 2%;
        padding-right: 2%
      }