


<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<a href="../bye">Go to admin page</a>
<br>
<br>

  {% for i in a %}
  {{i}}
  {% endfor %}

<body>
    <div class="container">
      <h2>Enter the hashtags</h2>
      <form role="form" method="post" action="">
          {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
          <a href="../hello">Go to tweets</a>
    </div>
</body>



<!--<form id="form" method="post" action="">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<input type="submit" value="Submit"/>-->
<!--</form>-->


