<style>
    .poster{
        width: 80%;
        height: 430px !important;
        /* min-width: 250px !important;*/
    }
    .rating {
        color: #a9a9a9;
        margin: 0;
        padding: 0;
    }
    ul.rating {
        display: inline-block;
    }
    .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    .rating .filled {
        color: red;
    }
</style>

<div ng-controller="actorController" class="container">
    <div class="row">
        <div class="well col-lg-12">
            <h1>{{actor.name}} <small> ({{actor.birth_place | date :'yyyy'}})</small> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span4" style="text-align: center !important;" >
            <img src="{{poster}}" class="poster thumbnail">
        </div>

        <div class="span4">
            <span>{{actor.description}}</span>
            <hr>
        </div>
        <div class="span4">
            <h3><strong>User Rating:</strong> {{actor.rating}}
                <!--<div star-rating rating-value="ratings.current" max="ratings.max" ></div>-->
            </h3>
            <!--<h4><strong>Reviews Counted:</strong> {{movie.no_of_reviews}}</h4>-->

            <!--<h4><strong>Gender:</strong> {{actor.gender}}</h4>-->
            <h4><strong>Birth Date:</strong> {{actor.birthday | date}}</h4>
            <h4><strong>Hometown:</strong> {{actor.birth_place }}</h4>
            <h4 ng-if="{{actor.wiki_link}}" ><strong>Wiki Link:</strong><a href="{{actor.wiki_link}}" style="text-decoration: none" > {{actor.wiki_link}} </a></h4ng-if>

        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Recent Movies</h2>
        <div class="row">
            <span ng-repeat="movie in actorRecentMovies">
                 <img src="{{movie.poster}}" style="width: 100px;height: 120px" >
                <h4>{{movie.name || movie.id}}</h4>
                <h4><small>Rating: </small>{{movie.rating}}</h4>
            </span>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2>All Movies</h2>
        <div class="row">
            <span ng-repeat="movie in actorAllMovies">
                <p> <span style="font-weight: bold;font-size: 16px" >{{movie.date_of_release | date:'yyyy'}}&nbsp;&nbsp;{{movie.name || movie.id}}</span><small style="padding-left: 100px" >Rating: </small>{{movie.rating}}</p>
            </span>
        </div>
    </div>

    <div class="container">
        <h2>Quotes about this actor</h2>
        <div class="row">
            <span ng-repeat="movie in actorQuotes">
                <p> <h4>{{movie.name || movie.id}}</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Rating: </small>{{movie.rating}}</p>
            </span>
        </div>
    </div>
</div>