<style>
    .poster{
        width: 80%;
        height: 430px !important;
        /* min-width: 250px !important;*/
    }
    .rating {
        color: #a9a9a9;
        margin: 0;
        padding: 0;
    }
    ul.rating {
        display: inline-block;
    }
    .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    .rating .filled {
        color: red;
    }
</style>

<div ng-controller="movieController" class="container">
    <div class="row">
        <div class="well col-lg-12">
            <h1>{{movie.name}} <small>({{movie.date_of_release | date :'yyyy'}})</small> </h1>
        </div>
    </div>
    <div class="row">
        <div class="span4" style="text-align: center !important;" >
            <img src="{{poster}}" class="poster thumbnail">
        </div>
        <div class="span4">
            <h3><strong>User Rating:</strong> {{movie.rating}}/10
                <div star-rating rating-value="ratings.current/2" max="5" ></div>
            </h3>
            <h4><strong>Reviews Counted:</strong> {{movie.no_of_reviews}}</h4>

            <h4><strong>Box Office:</strong> {{movie.box_office | currency}}</h4>
            <h4><strong>Budget:</strong> {{movie.budget | currency}}</h4>
            <h4><strong>Country:</strong> {{movie.country}}</h4>

        </div>

        <div class="span4" ng-if="movie.id == 6" >
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23mi5%20%40tomCruise" data-widget-id="651866464245321728">Tweets about #mi5 @tomCruise</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
        <div class="span4" ng-if="movie.id == 1">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/theintern" data-widget-id="651869587525373952">#theintern Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="row">
        <div class="span8" style="padding-top: 5%" >
            <span style="width: 70%" >{{movie.description}}..</span>
            <h4><strong>Directed By:</strong> {{movie.director}}</h4>
            <h4><strong>Written By:</strong> {{movie.writer}}</h4>
            <hr>
            <h4><strong>Genre:</strong> {{movie.genre}}</h4>
            <h4><strong>Language:</strong> {{movie.language}}</h4>
            <h4><strong>Run Time:</strong> {{movie.runtime}} minutes</h4>
        </div>
        <div class="span4" ng-if="movie.id == 6">
            <div class="fb-page" data-href="https://www.facebook.com/MissionImpossibleAU" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MissionImpossibleAU">
                <a href="https://www.facebook.com/MissionImpossibleAU">Mission: Impossible</a></blockquote></div>
            </div>
        </div>
        <div class="span4" ng-if="movie.id == 1">
            <div class="fb-page" data-href="https://www.facebook.com/TheInternMovie" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/TheInternMovie">
                <a href="https://www.facebook.com/TheInternMovie">The Intern</a></blockquote></div>
            </div>
        </div>
    </div>

    <hr>
    <div class="container">
        <h2>Cast & Crew</h2>
        <div class="row">

            <div ng-repeat="cast in movieCast" class="span2" >
                <img src="{{cast.image_link}}" style="width: 100px;height: 120px" >
                <a ui-sref="actors({actor_id:{{cast.actor_id}}})" style="text-decoration: underline" ><h4>{{cast.actor_name}}</h4></a>
                <h5><small>Role: </small>{{cast.role}}</h5>
                <div ng-if="cast.appears_as"><small>Appears as: </small>{{cast.appears_as}}</div>
            </div>

        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Photos</h2>
        <div class="row">

            <div ng-repeat="photo in moviePhotos" class="span2" >
                <img src="{{photo.photo}}" style="width: 320px;height: 180px" class="thumbnail" >
            </div>

        </div>
    </div>
    <hr>
    <!--<div class="container">
        <h2>Videos</h2>
        <div class="row">

            <div ng-repeat="video in movieVideos" class="span2" >
                <img ng-src="app/img/actor.jpg" style="width: 160px;height: 180px" class="thumbnail" >
            </div>

        </div>
    </div>-->
    <hr>
    <div class="container">
        <div class="row">
            <div class="span3"></div>
            <div class="span9">
                <h2>Reviews</h2>
                <div class="row">

                    <div ng-repeat="review in movieReviews" class="span2" >
                        <div ng-repeat="comment in movieReviewComments[]| orderBy:'-created_at':reverse">
                            <hr>
                            <h3 style="color: #27c24c" >@{{comment.creator_id}} </h3>
                            <span style="font-size: 16px;font-style: normal;padding-left: 40px" >{{comment.description}}</span><br/>
                            <span class="text-muted pull-right" >
                            <b>{{ comment.created | date:'medium' }}</b>
                            </span>
                            <br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>