<ion-view view-title="Movieo" align-title="center" >
  <ion-content>
    <div class="list-card" ng-href="#/app/trending">
        <div class="item item-image" ng-href="#/app/trending">
          <img src="http://i.imgur.com/YBxh7Ws.jpg" class="mainMenuImage" ng-href="#/app/trending">
        </div>
    </div>
    <div class="list-card">
        <div class="item item-image">
          <img src="http://imgur.com/gtFNuWn.jpg" class="mainMenuImage">
        </div>
    </div>
    <div class="list-card">
        <div class="item item-image">
          <img src="http://imgur.com/mDIIqpX.jpg" class="mainMenuImage">
        </div>
    </div>
    <div class="list-card">
        <div class="item item-image">
          <img src="http://imgur.com/pGZJ3Du.jpg" class="mainMenuImage">
        </div>
    </div>
  </ion-content>
</ion-view>