<ion-view view-title="{{::movie.name}}" align-title="center" >
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{::movie.poster}}">
                <h2>{{::movie.name}}</h2>
                <p>Released :{{::movie.date_of_release | date:'yyyy-MM-dd'}}</p>
                <p>Genre :{{::movie.genre}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{::movie.poster}}">
                <p>
                    {{::movie.description}}
                </p>
            </div>
                <div class="item item-divider">
                    <p class="row">
                        <label class="col">
                            Rating : {{::movie.newRating}}
                            <!-- Hard coded rating change it later -->
                        </label>
                    </p>
                    <p class="row">
                        <label class="col">
                                Runtime : {{::movie.runtime}} minutes
                        </label>
                        <label class="col">
                            Rating : {{::movie.rating}}
                        </label>
                    </p>
                </div>
                <br>
               
                    <div class="item item-divider">
                        The Team 
                    </div>
                    <div class="item item-text-wrap">
                    <span>
                        Directed By : {{::dir.director}}
                    </span>
                        <br>
                    <span>     
                        Written By : {{::dir.writer}}
                    </span>
                    </div>                     
                 <br>
                 
                 <div class="item item-divider">
                        The Cast 
                 </div>
                 <a class="item item-avatar" href="#/app/movie/actor/{{::cast1.actor_id}}">
                    <img src="{{::cast1.image_link}}">
                    <h2>{{::cast1.actor_name}}</h2>
                    <p>{{cast1.role}} : {{::cast1.actor_name}}</p>
                 </a>
                 
                 
                 <div class="Reviews">
                     <div class="item item-divider">
                         Reviews
                     </div>
                     <div class = "reviewText">
                        <div class="item-text-wrap" ng-repeat="review in reviews track by $index" href="#/app/movie/{{::review.movie_id}}">
                           <p>
                              <span style="font-weight:bold">
                                  {{review.name_of_user}} : 
                              </span>   
                              {{review.description}}
                           </p>
                        </div>
                     </div>
                 </div>
        </div>
                            
                                                 
                 <div ng-controller="DoughnutCtrl">
                     <div class="card">
                         <div class="item item-divider">
                             Public Rating
                         </div>
                         <div class="item item-text-wrap">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
                            </canvas> 
                         </div>
                     </div>
                 </div>
                 <div>
                     
                                          
                <button class="button button-assertive button-block" ng-click="addToCart()"> 
                	<i class="icon ion-checkmark"></i> Write Review
                </button>
            </div>       
    </ion-content>
</ion-view>