<div class="footer" style="
        background:-webkit-radial-gradient(bottom right, ellipse cover, rgba(255,255,255,0.2) 0%,#0075b0 100%), url('app/img/ff3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -20px;
        margin-right: -20px">
    <div class="share-box">
        <em class="fa fa-facebook" ></em>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <em class="fa fa-twitter" ></em>
    </div>
    <div class="links">
        <div class="lnk">About</div>
        <div class="lnk">Help/FAQ</div>
        <div class="lnk">Contact</div>
        <div class="lnk">Press</div>
    </div>
</div>